.attack-form {
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    width: 80%;
    max-width: 600px;
}

.attack-form label {
    display: block;
    margin: 10px 0 5px;
}

.attack-form select, .attack-form button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.attack-form input
{
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#results {
    padding: 20px;
    border: 1px solid #6a11cb;
    border-radius: 10px;
    background-color: #e6f7ff;
}
